name: inventory
description: "Offline Inventory Management App"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8

  # REQUIRED FOR ASSIGNMENT
  get: ^4.6.6
  shared_preferences: ^2.2.2
  fl_chart: ^0.66.0
  flutter_launcher_icons: ^0.14.4


dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0



flutter:
  uses-material-design: true
  assets:
    - assets/image.png


flutter_icons:
  android: true
  ios: true
  remove_alpha_ios: true
  image_path: "assets/image.png"
